<%= form_tag :action => :authorize do %>
  <p>
  <b>APIKEY:</b><br />
  <%= text_field_tag :apikey, @douban_apikey, :size => 32 %>
  </p>
  <p>
  <b>SECRET:</b><br />
  <%= text_field_tag :secret, @douban_secret, :size => 16 %>
  </p>
  <%= submit_tag "Authorize Douban" %>
<% end %>
